body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:38px;
  top:277px;
  width:70px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  color:#5E5E5E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:693px;
  top:455px;
  width:9px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:694px;
  top:566px;
  width:9px;
  height:17px;
  font-size:14px;
  color:#5E5E5E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:220px;
  top:100px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:38px;
  top:277px;
  width:72px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:38px;
  top:277px;
  width:72px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:38px;
  top:310px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:38px;
  top:400px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:228px;
  top:495px;
  width:71px;
  height:33px;
  font-size:14px;
  color:#515151;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:228px;
  top:608px;
  width:71px;
  height:33px;
  font-size:14px;
  color:#515151;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:220px;
  top:540px;
  width:1088px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1071px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1088px;
  height:1px;
}
#u19 {
  position:absolute;
  left:219px;
  top:651px;
  width:1088px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:1071px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1088px;
  height:2px;
}
#u20 {
  position:absolute;
  left:38px;
  top:588px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:36px;
  top:340px;
  width:64px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
