body {
  margin:0px;
  background-image:url('../../images/tyre_list/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:290px;
  top:77px;
  width:26px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:115px;
  width:430px;
  height:622px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:622px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:867px;
}
#u4 {
  position:absolute;
  left:414px;
  top:115px;
  width:16px;
  height:622px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:622px;
}
#u5 {
  position:absolute;
  left:2px;
  top:303px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:383px;
  top:77px;
  width:22px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:10px;
  top:31px;
  width:50px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
