body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1517px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:42px;
  width:1490px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1490px;
  height:2px;
}
#u1 {
  position:absolute;
  left:22px;
  top:21px;
  width:19px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:64px;
  top:21px;
  width:87px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:169px;
  top:21px;
  width:107px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:467px;
  top:21px;
  width:150px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:624px;
  top:21px;
  width:98px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:784px;
  top:21px;
  width:96px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:926px;
  top:21px;
  width:72px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1057px;
  top:21px;
  width:170px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1227px;
  top:21px;
  width:140px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1387px;
  top:20px;
  width:76px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#949494;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:64px;
  top:64px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:64px;
  width:126px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:624px;
  top:64px;
  width:80px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:784px;
  top:64px;
  width:59px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:928px;
  top:64px;
  width:85px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1060px;
  top:64px;
  width:41px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1227px;
  top:64px;
  width:129px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1387px;
  top:64px;
  width:120px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:21px;
  top:91px;
  width:1490px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u38 {
  position:absolute;
  left:64px;
  top:112px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:170px;
  top:112px;
  width:266px;
  height:36px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:624px;
  top:112px;
  width:80px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:784px;
  top:112px;
  width:59px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:928px;
  top:112px;
  width:85px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1060px;
  top:112px;
  width:41px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1227px;
  top:112px;
  width:129px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1387px;
  top:112px;
  width:120px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:21px;
  top:141px;
  width:1490px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u55 {
  position:absolute;
  left:28px;
  top:64px;
  width:26px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:28px;
  top:112px;
  width:36px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:467px;
  top:64px;
  width:126px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:467px;
  top:112px;
  width:73px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:65px;
  top:163px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:171px;
  top:163px;
  width:199px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:625px;
  top:163px;
  width:145px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:785px;
  top:163px;
  width:59px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:929px;
  top:163px;
  width:104px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1061px;
  top:163px;
  width:40px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1228px;
  top:163px;
  width:129px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1388px;
  top:163px;
  width:120px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:22px;
  top:190px;
  width:1490px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u80 {
  position:absolute;
  left:65px;
  top:211px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:171px;
  top:211px;
  width:266px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:625px;
  top:211px;
  width:165px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:785px;
  top:211px;
  width:120px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:929px;
  top:211px;
  width:115px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1061px;
  top:211px;
  width:40px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1228px;
  top:211px;
  width:129px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1388px;
  top:211px;
  width:88px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:22px;
  top:240px;
  width:1490px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u97 {
  position:absolute;
  left:29px;
  top:163px;
  width:26px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:29px;
  top:211px;
  width:36px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:468px;
  top:163px;
  width:126px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:468px;
  top:211px;
  width:73px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:66px;
  top:260px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:172px;
  top:260px;
  width:248px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:626px;
  top:260px;
  width:145px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:786px;
  top:260px;
  width:72px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:930px;
  top:260px;
  width:98px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1062px;
  top:260px;
  width:42px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1229px;
  top:260px;
  width:138px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1389px;
  top:260px;
  width:128px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:23px;
  top:287px;
  width:1490px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u122 {
  position:absolute;
  left:66px;
  top:308px;
  width:177px;
  height:18px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:15px;
  color:#66CCCC;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:172px;
  top:308px;
  width:266px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:18px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:626px;
  top:308px;
  width:165px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:786px;
  top:308px;
  width:72px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:930px;
  top:308px;
  width:98px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1062px;
  top:308px;
  width:42px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1229px;
  top:308px;
  width:129px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1389px;
  top:308px;
  width:117px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:23px;
  top:337px;
  width:1490px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u139 {
  position:absolute;
  left:30px;
  top:260px;
  width:26px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:30px;
  top:308px;
  width:36px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:469px;
  top:260px;
  width:126px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:469px;
  top:308px;
  width:73px;
  height:18px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:15px;
  color:#274044;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
