body {
  margin:0px;
  background-image:url('../../images/shopcart/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:284px;
  top:78px;
  width:21px;
  height:21px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:285px;
  top:54px;
  width:106px;
  height:16px;
  color:#CCCCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:325px;
  top:671px;
  width:74px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:126px;
  width:296px;
  height:16px;
  color:#CCCCCC;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:25px;
  top:267px;
  width:213px;
  height:16px;
  color:#CCCCCC;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:25px;
  top:700px;
  width:100px;
  height:16px;
  color:#CCCCCC;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:50px;
  top:157px;
  width:277px;
  height:16px;
  color:#CCCCCC;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:50px;
  top:209px;
  width:249px;
  height:32px;
  color:#CCCCCC;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:327px;
  top:151px;
  width:75px;
  height:26px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:52px;
  top:183px;
  width:100px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0099CC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:327px;
  top:200px;
  width:75px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:53px;
  top:234px;
  width:100px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0099CC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:49px;
  top:293px;
  width:277px;
  height:16px;
  color:#CCCCCC;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:49px;
  top:345px;
  width:249px;
  height:16px;
  color:#CCCCCC;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:326px;
  top:287px;
  width:75px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:51px;
  top:319px;
  width:100px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0099CC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:326px;
  top:336px;
  width:75px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:52px;
  top:370px;
  width:100px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0099CC;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:383px;
  top:80px;
  width:19px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:11px;
  top:31px;
  width:50px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
