body {
  margin:0px;
  background-color:rgba(7, 6, 22, 1);
  background-image:none;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:21px;
  top:49px;
  width:101px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#6699FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:231px;
  top:44px;
  width:80px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:44px;
  width:79px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:21px;
  top:85px;
  width:19px;
  height:16px;
}
#u7 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8 {
  position:absolute;
  left:290px;
  top:26px;
  width:113px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:105px;
  width:112px;
  height:112px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u11 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:150px;
  top:86px;
  width:19px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:90px;
  top:4px;
  width:191px;
  height:34px;
  font-size:10px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:153px;
  top:106px;
  width:116px;
  height:113px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:113px;
}
#u17 {
  position:absolute;
  left:2px;
  top:48px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:18px;
  top:248px;
  width:101px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#6699FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:228px;
  top:243px;
  width:80px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:317px;
  top:243px;
  width:79px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:20px;
  top:268px;
  width:19px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:149px;
  top:269px;
  width:19px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:21px;
  top:294px;
  width:113px;
  height:107px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:107px;
}
#u29 {
  position:absolute;
  left:2px;
  top:46px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:149px;
  top:295px;
  width:127px;
  height:106px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:106px;
}
#u31 {
  position:absolute;
  left:2px;
  top:45px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:17px;
  top:431px;
  width:101px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#6699FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:227px;
  top:426px;
  width:80px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:316px;
  top:426px;
  width:79px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:19px;
  top:451px;
  width:19px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:20px;
  top:477px;
  width:111px;
  height:108px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:108px;
}
#u41 {
  position:absolute;
  left:2px;
  top:46px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:16px;
  top:613px;
  width:101px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#6699FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:315px;
  top:608px;
  width:79px;
  height:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:18px;
  top:633px;
  width:19px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:19px;
  top:659px;
  width:113px;
  height:106px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:106px;
}
#u49 {
  position:absolute;
  left:2px;
  top:45px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:226px;
  top:607px;
  width:80px;
  height:25px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:457px;
  width:414px;
  height:115px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:115px;
}
#u53 {
  position:absolute;
  left:2px;
  top:50px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:2px;
  top:443px;
  width:412px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:11px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
