body {
  margin:0px;
  background-image:url('../../images/tyre_big_picture/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:30px;
  width:50px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:199px;
  top:140px;
  width:21px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#CCCCCC;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:183px;
  width:414px;
  height:432px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:432px;
}
#u4 {
  position:absolute;
  left:2px;
  top:208px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:199px;
  top:121px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
