body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:38px;
  top:275px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:15px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:218px;
  top:243px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:218px;
  top:290px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:218px;
  top:336px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:219px;
  top:384px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:219px;
  top:431px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:220px;
  top:478px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:220px;
  top:524px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:221px;
  top:571px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:221px;
  top:619px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:221px;
  top:666px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:213px;
  top:236px;
  width:84px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:214px;
  top:282px;
  width:84px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:214px;
  top:329px;
  width:84px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:500px;
  top:13px;
  width:167px;
  height:35px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:38px;
  top:275px;
  width:69px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:37px;
  top:410px;
  width:63px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:213px;
  top:377px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:213px;
  top:424px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:214px;
  top:471px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:214px;
  top:518px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:215px;
  top:565px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:214px;
  top:612px;
  width:85px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:214px;
  top:658px;
  width:85px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:38px;
  top:595px;
  width:62px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:36px;
  top:346px;
  width:71px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
