body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:34px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:34px;
}
#u1 {
  position:absolute;
  left:2px;
  top:9px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:10px;
  width:62px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:236px;
  top:10px;
  width:108px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:398px;
  top:11px;
  width:62px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#2C3742;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
