body {
  margin:0px;
  background-image:url('../../images/tyre_details/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:289px;
  top:79px;
  width:26px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:325px;
  top:688px;
  width:74px;
  height:47px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:47px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:244px;
  top:688px;
  width:74px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:163px;
  top:688px;
  width:74px;
  height:47px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:47px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:163px;
  top:650px;
  width:236px;
  height:35px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:383px;
  top:79px;
  width:16px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:10px;
  top:30px;
  width:50px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
