body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1051px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1051px;
}
#u1 {
  position:absolute;
  left:2px;
  top:518px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:321px;
  top:21px;
  width:39px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:16px;
  top:84px;
  width:62px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:16px;
  top:597px;
  width:62px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:166px;
  top:1004px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:166px;
  top:1004px;
  width:33px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
