body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:1249px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:1249px;
}
#u1 {
  position:absolute;
  left:2px;
  top:616px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:223px;
  top:898px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:225px;
  top:931px;
  width:41px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:475px;
  top:931px;
  width:41px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:723px;
  top:931px;
  width:41px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:974px;
  top:931px;
  width:41px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:225px;
  top:957px;
  width:100px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:332px;
  top:957px;
  width:100px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:474px;
  top:955px;
  width:100px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:580px;
  top:956px;
  width:100px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:724px;
  top:955px;
  width:100px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:830px;
  top:955px;
  width:100px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:974px;
  top:954px;
  width:100px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1079px;
  top:954px;
  width:100px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:221px;
  top:100px;
  width:50px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:37px;
  top:590px;
  width:63px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:38px;
  top:280px;
  width:81px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:38px;
  top:280px;
  width:72px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:38px;
  top:310px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:35px;
  top:404px;
  width:63px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:35px;
  top:343px;
  width:65px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
