body {
  margin:0px;
  background-color:rgba(7, 6, 22, 1);
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:653px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:653px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
