body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:829px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:829px;
}
#u1 {
  position:absolute;
  left:2px;
  top:406px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:96px;
  top:545px;
  width:224px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
