body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2px;
  top:14px;
  width:188px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:161px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:161px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:8px;
  width:410px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:36px;
  width:430px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:62px;
  width:399px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:85px;
  width:369px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:13px;
  top:108px;
  width:369px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:130px;
  width:369px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
