body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:163px;
  height:819px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:819px;
}
#u3 {
  position:absolute;
  left:2px;
  top:402px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:163px;
  top:60px;
  width:18px;
  height:819px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:819px;
}
#u5 {
  position:absolute;
  left:2px;
  top:402px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:24px;
  top:203px;
  width:126px;
  height:31px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:37px;
  top:210px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#1DAFED;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:37px;
  top:177px;
  width:108px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:181px;
  top:60px;
  width:1165px;
  height:818px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:818px;
}
#u13 {
  position:absolute;
  left:2px;
  top:401px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:181px;
  top:60px;
  width:1167px;
  height:818px;
  opacity:0.9;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:818px;
}
#u15 {
  position:absolute;
  left:2px;
  top:401px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:662px;
  top:90px;
  width:205px;
  height:300px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:300px;
}
#u17 {
  position:absolute;
  left:2px;
  top:142px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1250px;
  top:90px;
  width:16px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:24px;
  top:174px;
  width:126px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:24px;
  top:207px;
  width:126px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
