body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:775px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:775px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:12px;
  top:114px;
  width:340px;
  height:84px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:321px;
  top:20px;
  width:34px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:12px;
  top:239px;
  width:340px;
  height:500px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:500px;
}
#u6 {
  position:absolute;
  left:2px;
  top:242px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:329px;
  top:213px;
  width:19px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:14px;
  top:88px;
  width:62px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:15px;
  top:215px;
  width:78px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
