body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1182px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1182px;
}
#u1 {
  position:absolute;
  left:2px;
  top:583px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:329px;
  top:26px;
  width:21px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:298px;
  top:475px;
  width:54px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:10px;
  top:80px;
  width:340px;
  height:380px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:10px;
  top:520px;
  width:342px;
  height:330px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:10px;
  top:880px;
  width:340px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
