body {
  margin:0px;
  background-image:url('../../images/generate_order_offshop/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:687px;
  width:414px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:383px;
  top:80px;
  width:17px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2 {
  position:absolute;
  left:225px;
  top:77px;
  width:26px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:271px;
  top:80px;
  width:40px;
  height:19px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:274px;
  top:66px;
  width:81px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:11px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:114px;
  width:430px;
  height:573px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:573px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:2061px;
}
#u10 {
  position:absolute;
  left:414px;
  top:114px;
  width:16px;
  height:573px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:573px;
}
#u11 {
  position:absolute;
  left:2px;
  top:278px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:29px;
  width:50px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
