body {
  margin:0px;
  background-image:url('../../images/pay/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:21px;
  top:9px;
  width:209px;
  height:21px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:286px;
  top:78px;
  width:26px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:597px;
  width:387px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:17px;
  top:582px;
  width:387px;
  height:11px;
  font-size:10px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:11px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:371px;
  width:414px;
  height:157px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:157px;
}
#u9 {
  position:absolute;
  left:2px;
  top:70px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:122px;
  width:414px;
  height:248px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:248px;
}
#u11 {
  position:absolute;
  left:2px;
  top:116px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:383px;
  top:78px;
  width:21px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:9px;
  top:30px;
  width:50px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
