body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:200px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:254px;
  height:210px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:249px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:46px;
  width:249px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:74px;
  width:249px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:101px;
  width:249px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:132px;
  width:177px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-decoration:underline;
  color:#990000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
