body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:829px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:829px;
}
#u1 {
  position:absolute;
  left:2px;
  top:406px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:344px;
  top:127px;
  width:36px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:30px;
  top:740px;
  width:350px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:50px;
  top:70px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:100px;
  top:70px;
  width:30px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
