body {
  margin:0px;
  background-image:url('../../images/upload_picture/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:286px;
  top:77px;
  width:26px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:31px;
  width:50px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:230px;
  top:80px;
  width:27px;
  height:19px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:62px;
  width:128px;
  height:11px;
  font-size:10px;
  color:#CCCCCC;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:11px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:687px;
  width:414px;
  height:49px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:49px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:117px;
  width:430px;
  height:570px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:570px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:770px;
}
#u11 {
  position:absolute;
  left:414px;
  top:117px;
  width:16px;
  height:570px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:570px;
}
#u12 {
  position:absolute;
  left:2px;
  top:277px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:383px;
  top:80px;
  width:17px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
