body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:311px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:34px;
  width:171px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:337px;
  width:171px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:51px;
  top:267px;
  width:171px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:51px;
  top:303px;
  width:171px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:48px;
  top:191px;
  width:171px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:109px;
  width:171px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:151px;
  width:171px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:73px;
  width:171px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:127px;
  top:109px;
  width:184px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:126px;
  top:151px;
  width:184px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:126px;
  top:34px;
  width:184px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:126px;
  top:71px;
  width:184px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:125px;
  top:191px;
  width:184px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:48px;
  top:232px;
  width:171px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:124px;
  top:231px;
  width:184px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:127px;
  top:303px;
  width:184px;
  height:23px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:127px;
  top:337px;
  width:184px;
  height:23px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:91px;
  top:0px;
  width:171px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:126px;
  top:0px;
  width:184px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
