body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:110px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:47px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:140px;
  width:22px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:68px;
  top:143px;
  width:332px;
  height:33px;
  font-family:'Verdana Normal', 'Verdana';
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:19px;
  top:178px;
  width:794px;
  height:83px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:83px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:41px;
  top:192px;
  width:132px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:41px;
  top:230px;
  width:132px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:242px;
  top:192px;
  width:132px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:242px;
  top:230px;
  width:132px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:440px;
  top:192px;
  width:132px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:440px;
  top:230px;
  width:132px;
  height:16px;
  font-family:'Calibri Regular', 'Calibri';
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:273px;
  width:1111px;
  height:516px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:516px;
}
#u21 {
  position:absolute;
  left:2px;
  top:250px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:387px;
  top:360px;
  width:52px;
  height:17px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:14px;
  color:#3A3A3A;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:522px;
  top:360px;
  width:36px;
  height:17px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:14px;
  color:#3A3A3A;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:366px;
  top:348px;
  width:12px;
  height:399px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:399px;
}
#u27 {
  position:absolute;
  left:2px;
  top:192px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:502px;
  top:348px;
  width:12px;
  height:399px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:399px;
}
#u29 {
  position:absolute;
  left:2px;
  top:192px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:663px;
  top:348px;
  width:12px;
  height:399px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:399px;
}
#u31 {
  position:absolute;
  left:2px;
  top:192px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:684px;
  top:360px;
  width:92px;
  height:17px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:14px;
  color:#3A3A3A;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:778px;
  top:348px;
  width:12px;
  height:399px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:399px;
}
#u35 {
  position:absolute;
  left:2px;
  top:192px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:258px;
  top:360px;
  width:86px;
  height:17px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:14px;
  color:#3A3A3A;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:798px;
  top:360px;
  width:59px;
  height:17px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-size:14px;
  color:#3A3A3A;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:41px;
  top:397px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:41px;
  top:433px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:41px;
  top:469px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:41px;
  top:503px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:41px;
  top:539px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:41px;
  top:573px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:41px;
  top:610px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:41px;
  top:643px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:41px;
  top:681px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:41px;
  top:716px;
  width:67px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  text-decoration:underline;
  color:#3A3A3A;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:258px;
  top:397px;
  width:64px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:258px;
  top:433px;
  width:84px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:258px;
  top:469px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:258px;
  top:503px;
  width:39px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:258px;
  top:539px;
  width:90px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:258px;
  top:573px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:258px;
  top:610px;
  width:23px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:258px;
  top:643px;
  width:22px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:258px;
  top:681px;
  width:91px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:258px;
  top:716px;
  width:96px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:387px;
  top:397px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:387px;
  top:433px;
  width:95px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:387px;
  top:469px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:387px;
  top:503px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:387px;
  top:539px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:387px;
  top:573px;
  width:95px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:388px;
  top:610px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:387px;
  top:643px;
  width:94px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:387px;
  top:681px;
  width:95px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:387px;
  top:716px;
  width:109px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:522px;
  top:397px;
  width:100px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:522px;
  top:433px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:522px;
  top:469px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:522px;
  top:503px;
  width:50px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:522px;
  top:539px;
  width:140px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:522px;
  top:573px;
  width:56px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:522px;
  top:610px;
  width:56px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:522px;
  top:643px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:522px;
  top:681px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:522px;
  top:716px;
  width:92px;
  height:17px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:14px;
  color:#3A3A3A;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:0px;
  top:799px;
  width:1366px;
  height:50px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:798px;
  top:536px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:867px;
  top:536px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:798px;
  top:430px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:798px;
  top:467px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:798px;
  top:643px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:798px;
  top:679px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:798px;
  top:714px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:936px;
  top:536px;
  width:60px;
  height:21px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  color:#FFFFFF;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:414px;
  top:318px;
  width:343px;
  height:272px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:274px;
}
#u139 {
  position:absolute;
  left:2px;
  top:128px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:603px;
  top:547px;
  width:57px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  position:absolute;
  left:670px;
  top:547px;
  width:60px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
